<h1>Default page for REST API</h1>
<div>
    <article>
        <h3>API DOCUMENTATION</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci perferendis aut, facilis mollitia totam
            obcaecati facere rem nihil? Aliquam accusamus vitae fugit nam aperiam libero ratione, porro beatae ipsam,
            laudantium facilis consequatur deserunt. Mollitia earum ipsum id! Iste porro expedita reprehenderit omnis
            itaque magni, illo nisi odit rem obcaecati saepe nobis eaque totam necessitatibus ut explicabo architecto
            sed, perspiciatis earum maxime modi dolor eum ipsum ea. Laboriosam laudantium quis quibusdam. Natus vitae
            earum fugiat nam ea quisquam voluptatem qui? Alias, hic perferendis magni natus dignissimos, aperiam fuga
            molestias incidunt, nam sunt consequatur similique voluptatem tempore dolorem vero dolor autem commodi!</p>
    </article>
</div>